{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
    <link href="{% static 'css/dependencies/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dependencies/leaflet.css' %}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <style>
        @font-face {
            font-family: 'yekan';
            src: url('{% static "fonts/BYekan+.ttf" %}') format('truetype'),
            url('{% static "fonts/BYekanBold.ttf" %}') format('truetype');
        }

        body {
            font-family: 'yekan', sans-serif;
        }

        h6, span, small, h4, h5, h6, h1, button {
            font-family: 'Yekan', sans-serif;
        }
    </style>
    {% block link %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent" style="border-color: transparent">
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         aria-label="Animated striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         style="width: 0"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/dependencies/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/dependencies/leaflet.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'js/dependencies/sl.js' %}"></script>
<script>
    function showTimerRedAlert(title, time) {
        let timerInterval;
        Swal.fire({
            title: title,
            timer: time,
            timerProgressBar: true,
            showConfirmButton: false,
            didOpen: () => {
                Swal.showLoading();
            }, willClose: () => {
                clearInterval(timerInterval);
            },
            customClass: {
                popup: 'sweetAlertRedBorderColor'
            },
        })
    }
    function showTimerGreenAlert(title, time) {
        let timerInterval;
        Swal.fire({
            title: title,
            timer: time,
            timerProgressBar: true,
            showConfirmButton: false,
            didOpen: () => {
                Swal.showLoading();
            }, willClose: () => {
                clearInterval(timerInterval);
            },
            customClass: {
                popup: 'sweetAlertGreenBorderColor'
            },
        })
    }
    function showLoadingAlert(title) {
        Swal.fire({
            title: title,
            timerProgressBar: true,
            didOpen: () => {
                Swal.showLoading();
            },
        })
    }
    function showWaitingTimerGreenAlert(title) {
        Swal.fire({
            title: title,
            html: "<b></b>",
            timerProgressBar: false,
            showConfirmButton: false,
            customClass: {
                popup: 'sweetAlertGreenBorderColor'
            },
        })
    }
</script>
{% block script %}{% endblock %}

</body>
</html>